<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>WilMont.Gitbhub.io | Index</title>

    <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
    <div id="background"></div>

    <div id="leftBlob"></div>
    <div id="rightBottomBlob"></div>
    <div id="rightTopBlob"></div>

    <div id="whiteCenterRectangle">
        <p>Wilfried Montagne</p>
    </div>

    <div id="noiseIMG"></div>

    <script type="text/javascript" src="../js/main.js"></script>
</body>

</html>