<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>WilMont.github.io | Index</title>

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body id="body">
    <div id="upperLeftDiv" onclick="upperLeftDivClick()"></div>
    <div id="upperRightDiv" onclick="upperRightDivClick()"></div>
    <div id="bottomRightDiv" onclick="bottomRightDivClick()"></div>
    <div id="bottomLeftDiv" onclick="bottomLeftDivClick()"></div>

    <script src="../js/main.js"></script>
</body>

</html>